<section class="page-section bg-light" id="aboutus">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">My Story</h2>
            <h3 class="section-subheading text-muted">I have worked for over 10 years as a software engineer. First at SLAC (Stanford Linear Accelerator Center) and later at Fortinet Inc. After spending time honing my skills in Corporate America, I decided to found my own company. I live near Twin Falls, Idaho on a small farm that I run. I enjoy building things for people, solving problems, woodworking, blacksmithing, growing things, watching my animals, and spending time with family.
                <br/>- Samuel</h3>
        </div>


    </div>
</section>