<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Bootstrapping a custom web site for your business</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Custom Website</h4>
                <p class="text-muted">Reach new customers with a professional looking  web site. We will work with you to design and build solution to fit your needs. Ranging from a single page 'brochure' style site to a full on e-commerce solution.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-key fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Turnkey</h4>
                <p class="text-muted">Our turnkey solutions are fully managed. Once the site is built and online we will keep everything running for you.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-wallet fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">No Upfront Cost</h4>
                <p class="text-muted">There are no upfront development or design costs. We will build the initial site for you for free. Plans start at $20/month for a single page web site. </p>
            </div>
        </div>
    </div>
</section>